@model Recruitment.Models.OpenJob

@{
    ViewBag.Title = @Recruitment.Resources.Resources._Details;
}

<h2>@Recruitment.Resources.Resources._Details</h2>

<div>
    <h4>@Recruitment.Resources.Resources._OpenJobs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Conditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conditions)
        </dd>
        s
        <dt>
            @Html.DisplayNameFor(model => model.WorkPosition.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPosition.ShortDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Recruitment.Resources.Resources.Apply_ForJob, "Create", "Aplications", new { OpenJobs_id = Model.OpenJobs_id , WorkPosition_id = Model.WorkPosition_id }, null)
</p>
