@model IEnumerable<Recruitment.Models.OpenJob>


@{
    ViewBag.Title = @Recruitment.Resources.Resources._OpenJobs;
}
<h2>@ViewBag.Title</h2>
<p></p>
<div class="OtvRabMesta">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkPosition.ShortDescription)
                </th>
            </tr>
        <thead />

        @foreach (var item in Model)
        {
            <thead>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkPosition.ShortDescription)
                    </td>
                    <td>
                        @Html.ActionLink(@Recruitment.Resources.Resources.Button_Details, "Details", new { id = item.OpenJobs_id })
                    </td>
                </tr>
            </thead>
        }

    </table>
</div>

