@model Recruitment.Models.OpenJob

@{
    ViewBag.Title = @Recruitment.Resources.Resources._Details;
}

<h2>@Recruitment.Resources.Resources._Details</h2>

<div>
    <h4>@Recruitment.Resources.Resources._OpenJobs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Conditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questionare.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questionare.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPosition.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPosition.ShortDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Recruitment.Resources.Resources.Button_Edit, "Edit", new { id = Model.OpenJobs_id }) |
    @Html.ActionLink(@Recruitment.Resources.Resources.Button_Save, "Index")
</p>
