@model IEnumerable<Recruitment.Models.OpenJob>

@{
    ViewBag.Title = @Recruitment.Resources.Resources._OpenJobs;
}

<h2>@Recruitment.Resources.Resources._OpenJobs</h2>

<p>
    @Html.ActionLink(@Recruitment.Resources.Resources.Button_CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Conditions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questionare.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkPosition.ShortDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conditions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questionare.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPosition.ShortDescription)
            </td>
            <td>
                @Html.ActionLink(@Recruitment.Resources.Resources.Button_Edit, "Edit", new { id = item.OpenJobs_id }) |
                @Html.ActionLink(@Recruitment.Resources.Resources.Button_Details, "Details", new { id = item.OpenJobs_id }) |
                @Html.ActionLink(@Recruitment.Resources.Resources.Button_Delete, "Delete", new { id = item.OpenJobs_id })
            </td>
        </tr>
    }

</table>
