@model IEnumerable<Recruitment.Models.RepositoryOfQuestion>

@{
    ViewBag.Title = Recruitment.Resources.Resources.Repository_Questions;
}

<h2>@Recruitment.Resources.Resources.Repository_Questions</h2>

<p>
    @Html.ActionLink(Recruitment.Resources.Resources.Button_CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer.Desrciption)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer.Desrciption)
            </td>
            <td>
                @Html.ActionLink(Recruitment.Resources.Resources.Button_Edit, "Edit", new { id = item.RepositoryOfQuestions_id }) |
                @Html.ActionLink(Recruitment.Resources.Resources.Button_Details, "Details", new { id = item.RepositoryOfQuestions_id }) |
                @Html.ActionLink(Recruitment.Resources.Resources.Button_Delete, "Delete", new { id = item.RepositoryOfQuestions_id })
            </td>
        </tr>
    }

</table>
