@model Recruitment.Models.Answer

@{
    ViewBag.Title = @Recruitment.Resources.Resources._Details;
}

<h2>@Recruitment.Resources.Resources._Details</h2>

<div>
    <h4>@Recruitment.Resources.Resources.Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Desrciption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desrciption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Recruitment.Resources.Resources.Button_Edit, "Edit", new { id = Model.Answers_id }) |
    @Html.ActionLink(@Recruitment.Resources.Resources.Button_Back, "Index")
</p>
