@model Recruitment.Models.AspNetUser

@{
    ViewBag.Title = @Recruitment.Resources.Resources._Details;
}

    <h2>@Recruitment.Resources.Resources._Details</h2>

<div>
    <h4>@Recruitment.Resources.Resources._Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Recruitment.Resources.Resources.Button_Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(@Recruitment.Resources.Resources.Button_Back, "Index")
</p>
