@model Recruitment.Models.QuestionareQuestion

@{
    ViewBag.Title = Recruitment.Resources.Resources._Edit;
}
    <h2>@Recruitment.Resources.Resources._Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Recruitment.Resources.Resources.Questionare_Questions</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.QuestionareQuestions_id)

            <div class="form-group">
                @Html.LabelFor(model => model.Questionare_id, "Questionare_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Questionare_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Questionare_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RepositoryOfQuestions_id, "RepositoryOfQuestions_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RepositoryOfQuestions_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RepositoryOfQuestions_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@Recruitment.Resources.Resources.Button_Save class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink(Recruitment.Resources.Resources.Button_Back, "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
